body{
	background-color:#ffffff;
	font-size:14px;
	color:#666666;
}

p{
	margin: 0px;
	padding: 0px;
	color:#666666;
}

.contents{
}

/* アコーディオンパネル */
.accordion{
	display: inline;
}
.mode{
	display:inline-block;
	margin: 0px;
	margin-bottom: 10px;
	padding: 10px;
}
.setting{
	background-color: #FFFFFF;
	border:1px solid #CACACA;
	width: 270px;
	padding: 10px;
}

/* 次へボタンと名前を表示ボタン */
.buttons{
	width: 290px;
	margin: 10px 0px;
}
.next {
	width: 140px;
	height: 60px;
}

.display {
	width: 140px;
	height: 60px;
}

/* 名前 */
.name{
	font-size: 25px;
	display: inline;
}

.result{
	text-align: center;
	background-color: #FFFFFF;
	border:1px solid #CACACA;
	width: 270px;
	height: 40px;
	padding: 10px;
}

.mode:hover{
	background-color: #E0E0E0;
	cursor: pointer;
}

